<h1>
  <div class="grid">
    <div class="grid-cell with-1col"></div>
    <div class="grid-cell with-3col">
      <div class="cursor-img">
        <h1>
          <a href="{{ 'about' | relative_url }}">
            ABOUT
          </a>
        </h1>
      </div>
    </div>
    <div class="grid-cell with-3col">
      <div class="cursor-img">
        <h1>
          <a href="{{ 'portfolio' | relative_url }}">
            PORTFOLIO
          </a>
        </h1>
      </div>
    </div>
    <div class="grid-cell with-3col">
      <div class="cursor-img">
        <h1>
          <a href="{{ 'images/Shimmin_Andy_Resume_2020.pdf' | prepend: site.baseurl }}">
            RÉSUMÉ
          </a>
        </h1>
      </div>
    </div>

    <div class="grid-cell with-2col">
      <div class="cursor-img">
        <h1>
          <a href="{{ 'reference' | relative_url }}">
            LINKS
          </a>
        </h1>
      </div>
    </div>
  </div>
</h1>
