
  <?xml version="1.0" encoding="UTF-8"?>
<svg width="75px" height="1px" viewBox="0 0 75 1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 60 (88103) - https://sketch.com -->
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Landing-Page-Copy-3" transform="translate(-944.000000, -2309.000000)" stroke="#979797">
            <line x1="944" y1="2309.5" x2="1019" y2="2309.5" id="Path-7-Copy-2"></line>
        </g>
    </g>
</svg>
