// =============================================================================
// Base
// =============================================================================

// Document
// =============================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {

  overflow-x: hidden;
  margin: 0 auto;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-font-color;
  background: $body-background;
}

// Typography
// =============================================================================

p {
  margin: 0;
  font-weight: $base-font-weight;
  a {
    color: #fa5555;
  }
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 2.5;
  font-weight: 800;
  letter-spacing: -.03em;
  color: $article-header-title-color;
  // cursor: default;
}
@font-face {
font-family: 'Yantramanav-Black', sans-serif;
src: url('assets/fonts/yantramanav/Yantramanav-Black.ttf');
}


h2 {
  font-size: $base-font-size * 1.5;
  font-weight: 400;
}

h3 {
  // font-family: 'RobotoMono-Regular';
  font-size: $base-font-size * 1.3;
  font-weight: 500;
}

h4 {
  font-size: $base-font-size * 1.1;
  font-weight: 500;
}

h5 {
  font-size: $base-font-size * 1.17;
  font-weight: 500;
}

h6 {
  // font-family: 'RobotoMono-Light';
  font-family: $serif;
  font-weight: 200;
  text-align: center;
  font-size: $base-font-size * 2;
}
@font-face {
font-family: 'RobotoMono-Light', sans-serif;
src: url('assets/fonts/roboto-mono/RobotoMono-Light.ttf');
}

@include breakpoint(small) {
  h1 {
    font-size: $base-font-size * 1.5;
  }
  h2 {
    font-size: $base-font-size * 1.35;
  }
  h3 {
    font-size: $base-font-size * 1.25;
  }
}

a {
  color: $base-accent-color;
  text-decoration: none;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
    text-decoration: none;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
  }
}

svg {
  transition: fill 0.2s linear;
}

ul,
ol {
  padding-left: 40px;
  margin: 0;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $base-border-color;
}

blockquote {
  padding: 0 0 4px 15px;
  margin: 0 0 0 -20px;
  font-family: $sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
  color: $gray-light;
  border-left: 3px solid $gray-dark;
}

// Other
// =============================================================================

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height:auto;
  margin: 0;
  border-radius: 4px;

}

.notfound-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

::selection {
  color: $white;
  background-color: $gray-darkest;
}

.home-spacer{
padding-top: 20%;

}

.author-spacer{
  padding-top: 48px;
  margin-bottom: 24px;
}

.post-img {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  margin-bottom: 4%;
  margin-top: 18%;
  box-shadow: 0 1px 20px -8px; //make this work
  transition: .35s;
}

.imageFollow {
  position: fixed;
  display: none;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor-img a {
  transform: translate(-50%, -50%);
  padding-top: 20px;
  cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='36px' height='36px' viewBox='0 0 36 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 60 (88103) - https://sketch.com --%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-3' fill='%23FFD25A'%3E%3Cpath d='M16.1901445,-4.17400078 L20.0280653,-4.1947463 C20.5803419,-4.19773158 21.0304707,-3.75244292 21.033456,-3.20016623 C21.0334755,-3.19656271 21.0334755,-3.19295911 21.033456,-3.18935558 L20.8044356,39.1794207 C20.8014731,39.7274803 20.3579151,40.1710383 19.8098555,40.1740008 L15.9719347,40.1947463 C15.4196581,40.1977316 14.9695293,39.7524429 14.966544,39.2001662 C14.9665245,39.1965627 14.9665245,39.1929591 14.966544,39.1893556 L15.1955644,-3.17942072 C15.1985269,-3.72748033 15.6420849,-4.1710383 16.1901445,-4.17400078 Z' id='Rectangle' transform='translate(18.000000, 18.000000) rotate(-45.000000) translate(-18.000000, -18.000000) '%3E%3C/path%3E%3Cpath d='M15.9719347,-4.1947463 L19.8098555,-4.17400078 C20.3579151,-4.1710383 20.8014731,-3.72748033 20.8044356,-3.17942072 L21.033456,39.1893556 C21.0364413,39.7416323 20.5911526,40.191761 20.0388759,40.1947463 C20.0352724,40.1947658 20.0316688,40.1947658 20.0280653,40.1947463 L16.1901445,40.1740008 C15.6420849,40.1710383 15.1985269,39.7274803 15.1955644,39.1794207 L14.966544,-3.18935558 C14.9635587,-3.74163226 15.4088474,-4.19176102 15.9611241,-4.1947463 C15.9647276,-4.19476578 15.9683312,-4.19476578 15.9719347,-4.1947463 Z' id='Rectangle-Copy-11' transform='translate(18.000000, 18.000000) rotate(-135.000000) translate(-18.000000, -18.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), auto;

}

.arrow-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
}

.h-scene {
  /** Basic styles for an animated element */
  .home_scene_element {
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

.home_scene_element--fadein {
    animation-name: fadeUp;
  }

  @keyframes fadeUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .scene_element--fadein {
    animation-name: fadeIn;
  }

  // @keyframes fadeIn {
  //   0% {
  //     transform: translate3d(0,0,0);
  //   }
  //   100% {
  //     transform: translate3d(0,400%,0);
  //   }
  // }
  // &.is-exiting {
  //   .scene_element {
  //     animation-direction: alternate-reverse;
  //   }
  // }
}

// fade in on load,
// when clicking link,
// send header to the top position
