---
layout: default
---
      <!-- <div class="col-1">
        {% for links in site.links %}
        <h1>{{ forloop.index }}</h1>
        {% endfor %}
      </div> -->
      <div class="author-spacer"></div>
      <div class="author-spacer"></div>
        <p>This tab is for quick reference to resources that I use frequently during my design process or everyday life.</p>
        <br>
        <br>
        {% for links in site.links %}
        <a href="{{ links.url | prepend: site.baseurl }}">
          <h3>{{ links.title }}</h3>
          {% include linebreak.html %}
        </a>
            <div class="author-spacer"></div>
        {% endfor %}
